.Editor{
    max-width: 600px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Editor .productImage .imagePreview{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.Editor .productImage .plusButton{
    color: var(--text-gray);
    font-size: 30px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: white;
    border: 2px dashed var(--secondary-gray);
    cursor: pointer;
}

.Editor .productImage .plusButton:hover{
    background-color: var(--primary-gray);
}

.Editor .productDescription > textarea{
    width: calc(100% - 20px);
    min-height: 200px;
    border: 1px solid var(--secondary-gray);
    border-radius: 5px;
    padding: 10px;
}
