.ItemDetail {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4%;
  align-items: start;
  margin: 50px 0px;
}

.ItemDetail .imageWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3%;
}

.ItemDetail .imageWrapper .additionalImage {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ItemDetail .imageWrapper img {
  width: 100%;
}

.ItemDetail .bar {
  width: 3px;
  height: 20px;
  background-color: var(--mint-green);
  border-radius: 5px;
}

.ItemDetail .infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ItemDetail .infoWrapper .topInfo {
  display: flex;
  gap: 20px;
}

.ItemDetail .infoWrapper .topInfo > .bar {
  margin-top: 4px;
  width: 5px;
  height: 25px;
}

.ItemDetail .infoWrapper .topInfo h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.ItemDetail .infoWrapper .topInfo button {
  height: fit-content;
}

.ItemDetail .infoWrapper .subInfo {
  display: grid;
  grid-template-columns: 80px 20px auto;
  row-gap: 10px;
  color: var(--text-gray);
}

.ItemDetail .infoWrapper .buttons {
  display: flex;
  justify-content: space-evenly;
}

.ItemDetail .infoWrapper .buttons button {
  width: 150px;
}

@media (max-width: 800px) {
  .ItemDetail .imageWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
  }

  .ItemDetail .imageWrapper .additionalImage {
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 8px;
  }

  .ItemDetail .infoWrapper .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .ItemDetail .infoWrapper .buttons button {
    width: auto;
  }
}
