:root{
    --primary-gray: #F4F4F4;
    --text-gray: #767676;
    --text-black: #191919;
    --light-green: #F1F5F2;
    --mint-green: #B7D4B8;
    --medium-green: #008813;
    --dark-green: #114B19;
}